---
title: Le Wagon - Middleman
---
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/tokyo');">
    <div class="banner-content">
        <h1>Le Wagon Tokyo</h1>
        <p>Learn to code with us in Tokyo</p>
        <a class="btn btn-info btn-lg">Start now</a>
    </div>
</div>
<h2 class="text-center">Locations</h2>
<div class="container">
    <div class="row">
        <% %w(rio berlin tokyo paris london).each do |city| %>
        <div class="col-xs-12 col-sm-4">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/<%= city %>');">
                <div class="card-category">Popular</div>
                <div class="card-description">
                    <h2>Le Wagon <%= "#{city.capitalize}" %></h2>
                    <p>Very cool city, the best</p>
                </div>
                <%= image_tag "tom_face.png", class: "card-user", width: "200" %>
                <a class="card-link" href="#" ></a>
            </div>
        </div>
        <% end %>
    </div>
</div>
<div id="home">
    <div class="home-content">
        <%= image_tag "logo.png", width: "200" %>
        <p>
            Middleman is now running!
        </p>
        <p class="about">
            <%= link_to "More about this template", "about.html" %>
        </p>
    </div>
</div>
<div id="team">
    <div class="team-content">
        <%= image_tag "logo.png", width: "200" %>
        <p>
            To the team page
        </p>
        <p class="team">
            <%= link_to "Link to the team page", "team.html", class: "btn btn-primary" %>
        </p>
    </div>
</div>